.carouselContainer {
  display: grid;
  gap: 1rem;
  padding: 0 6rem;
  justify-content: center;
  justify-items: center;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.exception {
  grid-column: 1 / -1;
  font-size: 1.6rem;
}

.exception span {
  text-decoration: underline;
  color: var(--color-primary);
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .carouselContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 28.125em) {
  .carouselContainer {
    width: 400%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    justify-items: center;
    align-items: center;
    gap: 0;
    animation: infiniteCarousel cubic-bezier(0, 1, 0, 1) 12s infinite;
  }

  .carouselContainer:hover {
    animation-play-state: paused;
  }
}

@keyframes infiniteCarousel {
  0%,
  3% {
    transform: translateX(0%);
  }

  22%,
  27% {
    transform: translateX(-25%);
  }

  47%,
  52% {
    transform: translateX(-50%);
  }

  72%,
  77% {
    transform: translateX(-75%);
  }

  98%,
  100% {
    transform: translateX(-0%);
  }
}
