.navBar {
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  background-color: transparent;
}

.navBar.darkMode {
  background-color: var(--color-dark-primary);
  border-bottom: 0.1rem solid var(--color-primary);
}

.navBarBackground {
  box-shadow: var(--box-shadow);
}

.navBarLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
}

.mainLogo {
  width: 3.6rem;
  height: 3.6rem;
}

.logoName {
  font-size: 2.4rem;
  color: var(--color-primary);
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  height: 100%;
}

.navLink {
  display: block;
  padding: 2.4em;
  width: 8rem;
  height: 100%;
  color: var(--color-gray-light-3);
  z-index: 2;
  overflow: visible;
  position: relative;
  transition: background-color 0.4s;
}

.navLink:hover {
  background-color: var(--color-tint-3);
  color: var(--color-primary);
  /* border-radius: 50%; */
}

.navLink svg {
  stroke-width: 0.15rem;
}

.activeNavLink {
  background-color: var(--color-tint-3);
  color: var(--color-primary);
  border-bottom: 0.2rem solid var(--color-primary);
}

.cartQuantity {
  position: absolute;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #e01e37;
  width: 2rem;
  height: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 100;
  line-height: 0;
  top: 1.5rem;
  right: 1.5rem;
}

@media only screen and (max-width: 40.625em) {
  .navBar {
    justify-content: center;
  }
  .navBarLogo {
    display: none;
  }
}
