.store {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.storeContainer {
  display: grid;
  grid-template-columns: minmax(min-content, 25vw) 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.storeContainer nav {
  grid-column: 1 / -1;
}

.storeMenu {
  box-shadow: 0.2rem 0 0.4rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
}

/* WILL REFACTOR LATER */

.filterList {
  display: flex;
  flex-direction: column;
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1.5rem 0 1.5rem 4rem;
  /* background-color: var(--color-tint-3); */
}

.filterItem:hover {
  background-color: var(--color-tint-3);
}

.filterItem a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-gray-light-2);
  margin-top: 0.5rem;
}

.cakeIcon {
  height: 2.2rem;
  width: 2.2rem;
  stroke-width: 0.1rem;
  stroke: var(--color-primary);
}

.setting {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 4rem;
  padding: 0 3rem;
}

.hamburgerIcon {
  stroke: var(--color-primary);
  width: 4rem;
  height: 4rem;
}

/* END REFACTOR */

.storeFront {
  justify-self: center;
  width: 100%;
  padding: 4rem 6rem 5rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  gap: 3rem;
  overflow: scroll;
}
