.storeContainer {
  display: grid;
  grid-template-columns: minmax(min-content, 25vw) 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

/* STORE MENU */

.storeMenu {
  box-shadow: 0.2rem 0 0.4rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
  /* height: 100%; */
}

.searchForm {
  padding-right: 4rem;
}

/* END REFACTOR */

@media (max-width: 43.75em) {
  .storeContainer {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
  .storeMenu {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem 1rem 4rem;
    position: relative;
  }
  .searchForm {
    width: 100%;
    padding-right: 0;
  }
}
