.filterList {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}

.darkMode.filterList {
  background-color: var(--color-dark-primary);
}

.filterList input {
  visibility: hidden;
}

.loadingSpinner {
  align-self: center;
  justify-self: center;
}

.errorMessage {
  align-self: center;
  justify-self: center;
  font-size: 1.6rem;
}

.filterIcon {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  display: none;
  border-radius: 50%;
}

.filterIcon svg {
  stroke: var(--color-primary);
  stroke-width: 0.1rem;
}

.filterIcon:hover {
  background-color: var(--color-tint-3);
}

@media (max-width: 43.75em) {
  .filterIcon {
    display: block;
  }
  .filterList {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }

  .filterListOpen {
    display: block;
  }

  .filterListClosed {
    display: none;
  }
}
