.checkout {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.checkoutContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem 10rem;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  height: 35rem;
  overflow-y: scroll;
}

.cartSummaryHeading {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-primary);
}

.checkoutFormContainer {
  /* margin: 2rem 4rem; */
}

/* .checkoutBottomNav {
  flex: 0 1 0;
} */
