.cartItem {
  position: relative;
  display: grid;
  grid-template-columns: minmax(min-content, 15rem) repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: 12rem;
  /* box-shadow: var(--box-shadow); */
  border-radius: var(--border-radius);
  /* border: 0.05rem solid var(--color-gray-light-4); */
  font-size: 1.6rem;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  padding-right: 1rem;
  position: relative;
}

.cartItemImage {
  width: 100%;
  height: 100%;
  grid-row: 1 / -1;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.cartItemImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartItemInfo {
  grid-column: 2 / -1;
  /* padding-top: 1.5rem; */
  padding-right: 3rem;
}

.cartItemInfo h3 {
  font-size: 2rem;
}

.quantityAdjust {
  grid-column: 2;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* padding-bottom: 1.5rem; */
}

.quantityAdjust button {
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  border: 0.1rem solid var(--color-tint-1);
  border-radius: 0.8rem;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}

.quantityAdjust button:hover {
  background-color: var(--color-primary);
}

.quantityAdjust svg {
  stroke: var(--color-primary);
}

.quantityAdjust button:hover svg {
  stroke: #fff;
}

.cartItemPrice {
  /* padding-bottom: 1.5rem; */
  grid-column: 3;
  font-size: 2rem;
  justify-self: end;
  font-weight: 400;
  margin-right: 2rem;
}

.removeBtn {
  border: none;
  background: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}

.removeBtn:hover {
  background-color: var(--color-tint-3);
}

.removeBtn svg {
  stroke: var(--color-primary);
}

/* .cartItem {
  display: grid;
  grid-template-columns: 15rem minmax(min-content, 50%) auto;
  grid-auto-rows: 12rem;
  column-gap: 4rem;
  align-items: center;
  box-shadow: var(--box-shadow);
}



.cartItemImage {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  align-self: stretch;
}

.cartItemImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.cartItemInfo h3 {
  font-size: 2rem;
}

.cartItemInfo p {
  font-size: 1.4rem;
}

.cartItemPrice {
  display: grid;
  font-size: 1.4rem;
  grid-template-columns: repeat(2, 1fr);
}

.cartItemPrice h3 {
  grid-column: 1 / -1;
  font-size: 2.4rem;
  font-weight: 400;
}

.cartItemPrice p {
  font-weight: 700;
}

.cartItemPrice a {
  color: var(--color-primary);
  justify-self: end;
} */
