.orderConfirm {
  width: 100%;
  height: 90%;
  border-radius: 0.8rem 0.8rem 0 0;
  bottom: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #fff;
  grid-auto-rows: min-content;
  z-index: 999;
  padding: 3rem 12rem;
  row-gap: 4rem;
  column-gap: 2rem;
  transform: translateY(0);
  animation: slidingUp 0.3s ease-in;
}

.darkMode.orderConfirm {
  background-color: var(--color-dark-primary);
  color: #fff;
}

.closeBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: var(--color-tint-3);
}

.orderConfirm h1 {
  grid-column: 1 / -1;
  font-size: 2.4rem;
  color: var(--color-primary);
}

.loading {
  display: block;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: center;
}

.confirmForm {
  grid-column: 2 / -1;
  width: 90%;
  justify-self: end;
}

.receipt {
  grid-column: 1 / 2;
}

@media (max-width: 48em) {
  .orderConfirm {
    display: flex;
    flex-direction: column;
  }

  .confirmForm {
    grid-column: 2 / -1;
    width: 100%;
    justify-self: end;
  }
}

@media (max-width: 40.625em) {
  .orderConfirm {
    padding: 3rem 6rem;
  }
}

@media (max-width: 29.375em) {
  .orderConfirm {
    padding: 3rem;
  }
}
