.footerContainer {
  z-index: 50;
  width: 100%;
  height: 70%;
  background-color: #fff;
  border-radius: 0.8rem 0.8rem 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10rem 6rem 3rem 6rem;
  justify-items: center;
  row-gap: 8rem;
  position: relative;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 2rem;
  gap: 1rem;
}

.footerLogo {
  width: 4rem;
  height: 4rem;
}

.logoSection h2 {
  font-size: 2.8rem;
  color: var(--color-primary);
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
}

.footerContainer h3 {
  font-size: 3.2rem;
  color: var(--color-primary);
  font-weight: 300;
}

.navContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  gap: 1.5rem;
}

.otherChannelsSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialIcons > * {
  height: 3.6rem;
  width: 3.6rem;
  stroke-width: 0.1rem;
}

.socialIcon {
}

.copyrightSection {
  grid-column: 1 / -1;
  align-self: end;
  font-size: 1.6rem;
}

@media only screen and (max-width: 43.75em) {
  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 10rem 4rem 3rem 4rem;
  }

  .logoSection {
    grid-column: 1 / -1;
    grid-row: 2;
    flex-direction: row;
  }
}
