li {
  position: relative;
}

.navLink:link,
.navLink:visited {
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
  font-weight: 300;
}

.navLink:hover,
.navLink:active {
  color: var(--color-primary);
  box-shadow: 0 0.1rem 0 var(--color-primary);
}

li:hover .chevron,
li:active .chevron {
  transform: translateY(-50%) rotate(0);
  opacity: 1;
}

.chevron {
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: -15%;
  stroke: var(--color-primary);
  position: absolute;
  transform: translateY(-50%) rotate(-90deg);
  opacity: 0;
  transition: all 0.3s;
}
