.bottomNavContainer {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  transition: all 0.3s;
}

.bottomNavContainer.darkMode {
  background-color: var(--color-dark-primary);
  border-top: 0.1rem solid var(--color-primary);
}

.iconContainer {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  transition: all 0.3s;
  cursor: pointer;
}

.hamburgerIcon {
  stroke: var(--color-primary);
  width: 80%;
  height: 80%;
  cursor: pointer;
  transition: all 0.3s;
}

.iconContainer:hover {
  background-color: var(--color-tint-4);
  border-radius: 50%;
}

.iconContainer:hover .hamburgerIcon {
  transform: scale(-0.75);
}

@media (max-width: 29.375em) {
  .bottomNavContainer {
    padding: 0 4rem;
  }
}
