.errorPage {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16rem);
  gap: 5rem;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8em;
}

.errorHeading {
  color: var(--color-primary);
  font-size: 5.2rem;
}

.btnsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.btnsContainer a {
  font-size: 1.8rem;
  color: var(--color-primary);
}
