.productItemContainer {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 1rem;
  cursor: pointer;
}

.productItemContainer:hover {
  box-shadow: 0 0 0 0.5rem var(--color-tint-3);
}

.productImage {
  background-color: var(--color-tint-4);
  grid-row: 1 / 4;
}

.productImage img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.productInfo {
  grid-row: 4 / 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 1rem;
  padding: 2rem 4rem;
}

.productDescription {
  grid-column: 1 / -1;
  font-size: 2rem;
  color: var(--color-primary);
}

.productDescription p {
  font-size: 1.6rem;
  color: var(--color-gray-light-2);
}

.productPrice {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-gray-light-2);
}

.productPrice span {
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 1rem;
}

.productAddBtn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
  justify-self: end;
  border-radius: 50%;
  position: relative;
}

.productAddBtn::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  z-index: -1;
  transition: all 0.4s;
}

.productAddBtn:hover::before {
  filter: blur(0.5rem);
}

@media (max-width: 59em) {
  .storeFront {
    grid-template-columns: 1fr;
  }
}
