@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;900&display=swap");

:root {
  --color-primary: #ff4d6d;
  --color-tint-1: #ff758f;
  --color-tint-2: #ffb3c1;
  --color-tint-3: #ffccd5;
  --color-tint-4: #fff0f3;
  --color-shade-1: #c9184a;
  --color-shade-2: #a4133c;
  --color-shade-3: #800f2f;
  --color-dark-primary: #240710;
  --color-gray-primary: #212121;
  --color-gray-light-1: #383838;
  --color-gray-light-2: #666666;
  --color-gray-light-3: #aaa;
  --color-gray-light-4: #eeeeee;
  --color-support-yellow: #fee255;
  --border-radius: 0.8rem;
  --box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  --box-shadow-up: 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--color-gray-primary);
  line-height: 1.6;
  font-weight: 400;
  /* height: 100vh; */
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
